# FOR DEVELOPMENT:
# 1. You will need to create your own app ID via Microsoft's Application registration Portal
# at https://apps.dev.microsoft.com/
# 2. Set your microsoft app id to CLIENT_ID
# 3. copy the below contents into a new file named '.env.development'
#
# To be able to run 'npm run build':
# Please create a ".env.production" file in the root of your project directory.
# 1. Add your CLIENT_ID
# 2. Set the REDIRECT_URI to https://test-upload-suite-fe.azurewebsites.net
#
# TFS is configured to use these environment variables

CLIENT_ID=[insert app id here and remove square brackets also]
REDIRECT_URI=http://localhost:8080
API_URI=https://test-upload-suite-be.azurewebsites.net
